ul, li{
	width: 100%;
	float: left;
}

ul{
	padding: 0;
	margin: 0;
}

li{
	border-bottom: #f0f0f0 1px solid;
	padding: 5px 0 5px 0;
}

li:hover{
	cursor: pointer;
	background: #f0f0f0;
}

li input{
	width: 5%;
}

a{
	float: left;
	width: 50%;
	font-style: none;
	text-decoration: none;
}

.delete{
	width: 10%;
	float: right;
	color: red;
}

form{
	width: 100%;
	margin-top: 10px;
	padding: 0;
	float: left;
}

form input{
	float: left;
}

#header{
	float: left;
	width: 100%;
	padding: 10px 0 10px 0;
}

#header p{
	width: 50%;
	margin: 0;
	padding: 0;
	float: left;
}

#header a{
	width: 10%;
	float: right;
}